body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header { 
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #000000;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.coffee-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}