nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px #000;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

