body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: red;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20 px;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-content{
    flex: 70%;
}
.sidebar{
    flex: 30%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .main-content,
    .sidebar{
        width: 100%;
    }
}