body {
    font-family: Arial, Helvetica, sans-serif;
}
    .container img {
        transition: transform 0.2s;
    }

    .container img:hover {
        transform: scale(0.8);
    }
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}