* <body>*/ body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


/* CSS untuk elemen <header> */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* CSS untuk elemen <nav> */

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* CSS untuk elemen <main> */

main {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}


/* CSS untuk elemen <footer> */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* CSS untuk elemen navbar */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* CSS untuk link di dalam elemen <nav> dan navbar */

nav a,
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}


/* Efek hover pada link di dalam elemen <nav> dan navbar */

nav a:hover,
.navbar a:hover {
    text-decoration: underline;
}